.hero__container {
    background-image: url("/public/desktop/image-header.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.hero__header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
}

.hero__header {
    font-family: var(--font-highlight);
    font-weight: 900;
    font-size: 4.5rem;
    color: var(--white);
}

.hero__arrow {
    padding-top: 5rem;
}

@media (max-width: 991.98px) {
    .hero__container {
        background-image: url("/public/desktop/image-header.jpg");
        background-position: center;
        background-size: cover;
        height: 650px;
    }
    .hero__header {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: .5rem;
    }
    .hero__arrow {
        padding-top: 4rem;
    }
}

@media (max-width: 767.98px) {
    .hero__container {
        background-image: url("/public/mobile/image-header.jpg");
    }
}


